<div>
  <div>
    <h1>
      My collections
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new collection
    </h2>

    <form action="/insert_collection" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Create collection
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Name
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_my_collections.each do |a_collection| %>
      <tr>


        <td>
          <%= a_collection.name %>
        </td>

        <td>
          <%= a_collection.user.email %>
        </td>

        <td>
          <%= time_ago_in_words(a_collection.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_collection.updated_at) %> ago
        </td>

        <td>
          <a href="/collections/<%= a_collection.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
