<div>
  <div>
    <h1>
      <%= @the_collection.name %>
    </h1>

    <div>
      <div>
        <a href="/collections">
          Go back
        </a>
      </div>
<%if @the_collection.user_id == session.fetch(:user_id) %>
      <div>
        <a href="/delete_collection/<%= @the_collection.id %>">
          Delete collection
        </a>
      </div>
<% end %>
    </div>

    <dl>


      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_collection.user.email %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_collection.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_collection.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Positions in this collection
    </h2>
      
    <table border="1">
      <tr>

        <th>
          Board state
        </th>

        <th>
          Notes
        </th>

        <th>
          
        </th>
        <%if @the_collection.user_id == session.fetch(:user_id) %>
        <th>
          
        </th>
<%end%>
      </tr>

      <%@matching_collection_positions.each do |a_cp|%>
        <tr>
        <td><%=Position.where({:id => a_cp.position_id}).first.board_state%></td>
        <td></td>
        <td><a href="/positions/<%= a_cp.position_id %>">View position</a></td>
        <%if @the_collection.user_id == session.fetch(:user_id) %>
        <td><a href="/delete_collection_position/<%=a_cp.id%>">Remove from collection</a></td>
        <%end%>
        </tr>
      <%end%>
  </div>
</div>

<hr>
