<div>
  <div>
    <h1>
      <%= @the_collection.name %>
    </h1>

    <div>
      <div>
        <a href="/collections">
          Go back
        </a>
      </div>
<%if @the_collection.user_id == session.fetch(:user_id) %>
      <div>
        <a href="/delete_collection/<%= @the_collection.id %>">
          Delete collection
        </a>
      </div>
<% end %>
    </div>

    <dl>


      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_collection.user.email %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_collection.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_collection.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Positions in this collection
    </h2>


      <button>
        View position
      </button>

      <button>
        Remove from collection
      </button>
    </form>
  </div>
</div>

<hr>
