<div>
  <div>
    <h1>
      Position details
    </h1>

    <div>
      <div>
        <a href="/positions">
          Go back
        </a>
      </div>

    <dl>
      <dt>
        Board state
      </dt>
      <dd>
        <%= @the_position.board_state %>
      </dd>

      <dt>
        Best move
      </dt>
      <dd>
        <%= @the_position.best_move %>
      </dd>

      <dt>
        Evaluation
      </dt>
      <dd>
        <%= @the_position.evaluation %>
      </dd>

      <dt>
        Whose turn
      </dt>
      <dd>
        <%= @the_position.whose_turn %>
      </dd>

      <dt>
        Notes
      </dt>
      <dd>
        <%= @the_position.notes %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_position.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_position.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Add to my collection
    </h2>

    <form action="/modify_position/<%= @the_position.id %>"  method="post" >

      <button>
        Add this position
      </button>
    </form>
  </div>
</div>

<hr>
