<div>
  <div>
    <h1>
      Position details
    </h1>

    <div>
      <div>
        <a href="/positions">
          Go back
        </a>
      </div>

    <#img src= "http://fen2png.com/?fen=5rk1/pp4pp/4p3/2R3Q1/3n4/2q4r/P1P2PPP/5RK1"+ "b - - - " + "&raw=true">

    <dl>
      <dt>
        Board state
      </dt>
      <dd>
        <%= @the_position.board_state %>
      </dd>

      <dt>
        Best move
      </dt>
      <dd>
        <%= @the_position.best_move %>
      </dd>

      <dt>
        Evaluation
      </dt>
      <dd>
        <%= @the_position.evaluation %>
      </dd>

      <dt>
        Whose turn
      </dt>
      <dd>
        <%= @the_position.whose_turn %>
      </dd>

      <dt>
        Notes
      </dt>
      <dd>
        <%= @the_position.notes %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_position.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_position.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<% if session.fetch(:user_id) != nil %>

<hr>


<div>
  <div>
    <h2>
      Add to my collection
    </h2>

    <form action="/insert_collection_position/"  method="post">
      <div>
        <label for="collection_id_box">
          Collection
        </label>
        <select name = "query_collection_id">
        <% Collection.where({:user_id => session.fetch(:user_id)}).each do |a_collection|%>
        <option value = "<%=a_collection.id%>">
        <%=a_collection.name%>
        <%end%>
        </option>
        <input name = "query_position_id" value = "<%=@the_position.id%>" type=hidden>
        </option>
        </select>
      </div>

      <button>
        Add this position
      </button>
    </form>
  </div>
</div>

<hr>
<%end%>
