<div>
  <div>
    <h1>
      List of all collection positions
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new collection position
    </h2>

    <form action="/insert_collection_position" method="post">
      <div>
        <label for="collection_id_box">
          Collection
        </label>

        <input type="text" id="collection_id_box" name="query_collection_id">
      </div>

      <div>
        <label for="position_id_box">
          Position
        </label>

        <input type="text" id="position_id_box" name="query_position_id">
      </div>

      <button>
        Create collection position
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Collection
        </th>

        <th>
          Position
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_collection_positions.each do |a_collection_position| %>
      <tr>
        <td>
          <%= a_collection_position.id %>
        </td>

        <td>
          <%= a_collection_position.collection_id %>
        </td>

        <td>
          <%= a_collection_position.position_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_collection_position.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_collection_position.updated_at) %> ago
        </td>

        <td>
          <a href="/collection_positions/<%= a_collection_position.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
