<div>
  <div>
    <h1>
      Collection position #<%= @the_collection_position.id %> details
    </h1>

    <div>
      <div>
        <a href="/collection_positions">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_collection_position/<%= @the_collection_position.id %>">
          Delete collection position
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Collection
      </dt>
      <dd>
        <%= @the_collection_position.collection_id %>
      </dd>

      <dt>
        Position
      </dt>
      <dd>
        <%= @the_collection_position.position_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_collection_position.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_collection_position.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit collection position
    </h2>

    <form action="/modify_collection_position/<%= @the_collection_position.id %>"  method="post" >
      <div>
        <label for="collection_id_box">
          Collection
        </label>

        <input type="text" id="collection_id_box" name="query_collection_id" value="<%= @the_collection_position.collection_id %>">
      </div>

      <div>
        <label for="position_id_box">
          Position
        </label>

        <input type="text" id="position_id_box" name="query_position_id" value="<%= @the_collection_position.position_id %>">
      </div>

      <button>
        Update collection position
      </button>
    </form>
  </div>
</div>

<hr>
